$def with (todos, form)

<div id="mainHeader" class="header black-gradient">
	<h2 style="margin:2px">TO-DO</h2>
</div>

<div class="bg-image" style="background-image: url(1.jpg); height:900px" >

	<div class="card" >

		<div id="myDIV" class="header black-gradient">
  			<h2 style="margin:5px">My To Do List</h2>

	              	<div class="entry input-group">
	                	<input class="form-control" name="fields[]" type="text" placeholder="Type something" />
				<span class="input-group-btn">
					<button class="btn btn-primary btn-add" type="button">
			                <span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
			</div>
		</div>


		<div class="flex-container">  
		$for todo in todos:
			<div class="flex-item">$todo.title
				<form action="/del/$todo.id" method="post">
					<input type="submit" value="Delete" style="float:right; border:none; background:none;"/><span class="glyphicon glyphicon-trash" style=" font-size:24px;"></span>
				</form>
			</div>
		    
		  
		</div>

	</div>
	<div class="bg-text">
	  <h1 class="h1-text">TO-DO APP</h1>
	  <p class="p-text">Keep Your Life In Sync</p>
	</div>

</div>
